// Site Content

.subscribe {

    h6,
    .h6 {
        margin-bottom: 1rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 1.25rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 1.5rem;
        }
    }

    &-holder {
        .form {

            @include media-breakpoint-up(sm) {
                display: flex;
            }

            &-group {
                margin-bottom: 0;
                max-width: 600px;
                width: 100%;

            }

            &-control {
                padding: 1rem 25px;
                height: 100%;
                max-width: 500px;
                width: 100%;
                border-color: $primary;
                border-radius: 12px;

                @include media-breakpoint-up(lg) {
                    padding: 1.125rem 1.875rem;
                }

                @include media-breakpoint-up(xl) {
                    // height: 55px;
                    padding: 1.25rem 2.1875rem;
                }

                &::placeholder {
                    @include font-size(1rem);

                    @include media-breakpoint-up(md) {
                        @include font-size(1.125rem);
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(1.375rem);
                    }
                }
            }
        }
    }

    &-right {
        .social-links {
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                justify-content: center;

                @include media-breakpoint-up(sm) {
                    justify-content: start;
                }

                @include media-breakpoint-up(md) {
                    justify-content: end;
                }

                li {
                    line-height: 1;

                    @include media-breakpoint-down(xs) {
                        padding: 0 0.6rem;

                    }

                    @include media-breakpoint-up(sm) {
                        padding-right: 1rem;
                    }

                    @include media-breakpoint-up(md) {
                        padding-left: 1.2rem;
                        padding-right: 0;
                    }

                    @include media-breakpoint-up(xl) {
                        padding-left: 1.5rem;
                    }

                    a {
                        color: $black;
                        @include font-size(1.5625rem);
                        transition: all 0.3s;
                        line-height: 1;

                        @include media-breakpoint-up(md) {
                            @include font-size(1.875rem);
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(2.1875rem);
                        }

                        &:hover {
                            text-decoration: none;
                            display: block;
                            color: $primary;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}


.about {
    &-desc {
        @include font-size(1rem);
        color: $gray-800;
        font-weight: 500;

        @include media-breakpoint-up(lg) {
            @include font-size(1.25rem);
        }

        @include media-breakpoint-up(xl) {
            @include font-size(1.6rem);
        }
    }

    &-content {
        @include media-breakpoint-up(md) {
            @include font-size(1.125rem);
        }

        @include media-breakpoint-up(lg) {
            @include font-size(1.125rem);
        }

        @include media-breakpoint-up(xl) {
            @include font-size(1.125rem);
        }
    }
}

.share-links {
    display: flex;
    align-items: center;

    .text {
        span {
            padding-right: 0.5rem;
            font-weight: 500;
            color: rgba($black, 0.8);

            @include media-breakpoint-up(lg) {
                @include font-size(1.5rem);
                padding-right: 0.7rem;

            }
        }
    }


    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        line-height: 1;

        li {
            a {
                color: rgba($black, 0.8);
                @include font-size(1.5625rem);
                transition: all 0.3s;
                line-height: 1;
                display: block;
                padding: 0.3rem;

                @include media-breakpoint-up(md) {
                    @include font-size(1.675rem);
                }

                @include media-breakpoint-up(lg) {
                    @include font-size(1.875rem);
                    padding-right: 0.7rem;
                }



                &:hover {
                    text-decoration: none;
                    display: block;
                    color: $primary;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.section-text {
    font-weight: 500;
    @include font-size(1.125rem);

    @include media-breakpoint-up(lg) {
        @include font-size(1.25rem);
    }
}

.news-details {
    margin-top: 100px;

    .card-video {
        &__media {
            img {
                object-fit: cover;
                height: 220px;

                @include media-breakpoint-up(sm) {
                    height: 320px;
                }

                @include media-breakpoint-up(md) {
                    height: 420px;
                }

                @include media-breakpoint-up(lg) {
                    height: 500px;
                }

                // @include media-breakpoint-up(xxl) {
                //     height: 620px;
                // }
            }
        }

        .btn-wrap {
            a {
                @include font-size(3rem);

                @include media-breakpoint-up(md) {
                    @include font-size(3.5rem);
                }

                @include media-breakpoint-up(lg) {
                    @include font-size(4.5rem);
                }

                @include media-breakpoint-up(xl) {
                    @include font-size(5rem);
                }
            }
        }
    }

    .block-title {
        padding-bottom: 0.3rem;

        @include media-breakpoint-up(lg) {
            padding-bottom: 0.5rem;
        }
    }

    &__cards {
        .card-event {
            &--alt {
                @include media-breakpoint-down(sm) {
                    max-width: 450px;
                    margin: 0 auto;
                }
            }
        }
    }
}


.payment {
    &-tabs {
        .select-wrap {
            padding: 1rem 1.5rem;
            @include font-size(1.5rem);
            font-weight: 500;
            border: none;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            transition: all 0.3s;
            appearance: none;
            // position: relative;
            background: url(#{$image-path}/down_arrow.svg) center;
            background-position: calc(100% - 19px) 50%;
            background-repeat: no-repeat;
            background-size: 12px;
            padding-right: 5rem !important;
        }

        &__content {
            max-width: 450px;
            margin: 0 auto;
        }
    }

    &-media {
        display: inline-block;
        width: 100%;

        img {
            width: 100%;
            border-radius: 18px;
        }
    }
}

.giving {
    &-content {

        h5,
        .h5 {
            @include media-breakpoint-up(lg) {
                margin-bottom: 1.5rem;
            }
        }

        i {
            @include font-size(2rem);

            @include media-breakpoint-up(lg) {
                @include font-size(2.5rem);
            }
        }
    }
}


//pagination

.pagination {
    justify-content: center;
    margin: 1rem 0;

    @include media-breakpoint-up(lg) {
        margin: 2rem 0;

    }

    .page-numbers {
        border: 1.8px solid $moderate-orange;
        padding: 0.3rem 0.7rem;
        text-decoration: none;
        transition: all 0.3s;
        margin: 0 0.1rem;

        @include media-breakpoint-up(lg) {
            padding: 0.4rem 0.8rem;
            margin: 0 0.2rem;

        }

        &:hover {
            background-color: $moderate-orange;
            color: $white;
        }

        &.current {
            background-color: $moderate-orange;
            color: $white;
        }
    }
}

//breadcrumbs
.banner-breadcrumbs {
    a {
        color: $white;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            color: $moderate-orange;
        }
    }

    span {
        color: $moderate-orange;
    }
}

//
.section-singleBlog {
    margin-top: 6rem;

    @include media-breakpoint-up(lg) {
        margin-top: 3.125rem;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 6.25rem;
    }
}

//fancybox
.fancybox {
    &-slide {
        padding: 44px 10px;
    }

    &-content {
        width: 100%;
        // @include media-breakpoint-down(md){
        //     height: 160px;
        // }
    }
}

//modal
.custom-modal {
    z-index: 11111;

    .modal {
        &-dialog {
            max-width: 900px;
            position: relative;

            @include media-breakpoint-up(sm) {
                margin-top: 5.5rem;
                margin-bottom: 5.5rem;
            }

            @include media-breakpoint-down(sm) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &-header {
            border: none;
            padding: 0 1rem;

            button {

                @include font-size(2rem);
                background-color: $white;
                padding: 0.4rem;
                position: absolute;
                content: '';
                top: -13%;
                right: 7%;
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                transition: all 0.3s;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                @include media-breakpoint-up(sm) {
                    top: -10%;
                    right: 5%;
                }

                @include media-breakpoint-up(md) {
                    top: -9%;
                    right: 3%;
                    height: 30px;
                    width: 30px;
                }

                @include media-breakpoint-up(lg) {
                    top: -7%;
                    right: 2%;
                    height: 40px;
                    width: 40px;
                }

            }
        }

        &-content {
            background-color: transparent;
            border: none;
        }

        &-body {
            padding: 0;

            iframe {
                width: 100%;
                height: 192px;

                @include media-breakpoint-up(sm) {
                    height: 300px;
                }

                @include media-breakpoint-up(md) {
                    height: 420px;
                }

                @include media-breakpoint-up(lg) {
                    height: 500px;
                }
            }
        }
    }
}

//
.section-event {
    .row {
        [class*="col-"] {
            margin-bottom: 20px;

            @include media-breakpoint-up(md) {
                margin-bottom: 30px;
            }
        }

        .card-event {
            &__media {
                img {
                    @include media-breakpoint-up(xl) {
                        height: 211px !important;
                    }
                }
            }
        }
    }
}


//404 page

.section-404 {
    margin-top: 94px;

    &__content {
        height: 50vh;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            height: 65vh;
        }

        .block-title{
            .content-404{
                display: block;
                color: $moderate-orange;
                @include media-breakpoint-up(lg){
                    @include font-size(22px);
                }
            }
        }
       
    }

    .btn-wrap{
        a{
            color: $black;
            border: 2px solid $gray-800;
            border-radius: 65px;
            padding: 0.5rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s;

            // @include media-breakpoint-up(lg) {
            //     border-width: 3px;
            // }

            &:hover {
                background-color: $primary;
                color: $white;
                border-color: transparent;
            }
        }
    }
   
}

.core-team{
    .block-title{
        h2{
            @include media-breakpoint-down(sm){
                @include font-size(2.5rem);
            }
            @include media-breakpoint-down(md){
                @include font-size(3rem);
            }
        }
    }
}


//beliefs

.beliefs-tab__block {
    .belief-tab {
        ul {
            list-style: none;
            padding-left: 0;

            li {
                text-align: center;

                a {
                    background-color: transparent;
                    padding: 5px 10px;
                    text-align: center;
                    display: block;
                    border-radius: 8px;
                    color: $black;
                    font-weight: 500;
                    @include font-size(1.375rem);

                    &:hover {
                        text-decoration: none;
                    }

                }

                .active {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    .tab-main-box {
        background-color: $primary;
        padding: 20px;
        color: $white;
        border-radius: 5px;
        height: 100%;
        display: flex;
        @include media-breakpoint-up(lg){
           align-items: center;
           text-align: center;
        }

        .tab-box {
            display: none;
        }
    }
}